<div class="header" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{background: 'wheat'}">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ "A propos" | uppercase }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ "On parle de nous !" }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Genèse</h2>
      <p>Ces dernières années, dans tous les pays africains, fleurissent des incubateurs, technopoles, pépinières et autres lieux d’aide à l’entrepreneuriat. Cependant force est de constater que malgré ces différents écosystèmes, les startups africaines ont encore du mal émerger car la recherche de financements relève encore du parcours du combattant pour ces dernières. Cette situation a poussé beaucoup d’entrepreneurs à courir de concours en concours dans l’espoir  gagner en visibilité, de se faire remarquer par des investisseurs et/ou gagner des prix, laissant ainsi de côté le développement de leurs startups. Or gagner quelques milliers d’euros à un concours ne permet ni de se lancer, ni d’attirer l’argent des fonds d’investissement dont l’intérêt est principalement porté sur le  chiffre d’affaires et la traction.</p>
      <p>Ce scénario, les fondateurs de Hosted by Africa en ont fait l’expérience. Et c’est pour contrer ce système absurde qu’ils ont créé le premier studio d’innovation du continent africain pour le continent africain. Structure d’amorçage se positionnant de manière particulière parmi les acteurs de l’entrepreneuriat « early stage », Hosted By Africa identifie et mise ses propres ressources sur des startups proposant un produit et/ou un service innovant à fort impact social, économique ou environnemental, capables de contribuer au développement des pays africains et à l’amélioration de la vie de leurs populations.</p>
      <h2>Notre vision</h2>
      <p>A l’instar du reste du monde, le continent africain est devenu un terreau incroyablement fertile pour l’innovation et la création de startups. De Mogadiscio à Accra, de Cap Town à Dakar, l’on observe la formidable croissance de l’écosystème startups. A Hosted by Africa, nous voulons accompagner cette dynamique et mettre en valeur l’innovation des jeunes Africains. En rassemblant nos innovateurs sous un même toit, nous souhaitons engendrer une dynamique de co-création et de mutualisation des savoirs et expériences pour favoriser l’émergence de nouvelles idées et projets de startups et faire du continent le nouveau pôle de l’innovation et le prochain poumon de la croissance économique mondiale.</p>
      <p>Notre démarche:</p>
      <ul>
        <li>Identification des technologies innovantes</li>
        <li>Mise à l’échelle</li>
        <li>Capitalisation des expériences</li>
        <li>Apport de capital humain</li>
        <li>Répétition du processus de création</li>
        <li>Mutualisation</li>
        <li>Co-Création</li>
      </ul>
    </div>
  </div>
</div>
