<header fxLayout="column" fxLayoutAlign="center center">
  <div class="container">
    <h1>{{ "Détecteur et booster d'innovations pour l'afrique" | uppercase }}</h1>
    <p>Nous investissons dans les innovateurs apportant des solutions aux problématiques réelles du continent africain.</p>
  </div>
</header>
<div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Nous sommes un studio d’innovation</h2>
        <p>Nous identifions et lançons des innovations à fort potentiel spécifiquement destinées au continent Africain ou pouvant répondre à des problèmes qui se posent en Afrique.</p>
        <p>Nous combinons les idées, le talent, le capital et notre réseau pour commercialiser les produits et services de nos startups sur des marchés préalablement validés pour accélérer leur croissance.</p>
        <p>Nous favorisons l’émergence de nouvelles idées et de nouveaux projets de startups pouvant avoir un impact important sur le monde.</p>
      </div>
    </div>
  </div>
</div>
<app-field-list></app-field-list>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Notre présence en Afrique</h2>
      <p>Carte</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Nos partenaires et clients</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores consequuntur autem, alias doloribus aut expedita sint eligendi, eius modi blanditiis excepturi! Eligendi tempora qui alias praesentium recusandae natus mollitia fuga.</p>
    </div>
  </div>
</div>
